<div class="row" style="margin-top: 30vh;">
    <div class="col m5ths s6">
        <div class="card newprod">
            <div class="card-image">
                <div>
                    <a href="product/26f30c33-dedf-4149-b367-4fbd36acaf55"><img alt="White Cotton Shirt-Blue silk tuxedo with marbled aquatic pattern and dark lining. Sleeves are complete with rounded hem and black buttons." src="https://s3-eu-west-1.amazonaws.com/bkt-svc-files-cmty-api-moltin-com/835673c6-b04e-4089-8090-7599e67c1a78/2cd43c4c-bad4-42a4-8bf7-8fd0ecf49a2b."></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col m5ths s6">
        <div class="card newprod">
            <div class="card-image">
                <div>
                    <a href="product/a0a1de0a-3149-4a43-800d-ca28929e99df"><img alt="Soft Winter Jacket-Dark navy and light blue men's zipped waterproof jacket with an outer zipped chestpocket for easy storeage." src="https://s3-eu-west-1.amazonaws.com/bkt-svc-files-cmty-api-moltin-com/835673c6-b04e-4089-8090-7599e67c1a78/b6bce90d-efc2-463e-a929-e3f0ead32be5."></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col m5ths s6">
        <div class="card newprod">
            <div class="card-image">
                <div>
                    <a href="product/ac45fe23-f2da-43b8-8085-211eae3a3bed"><img alt="Silk Summer Top-Classic mens plaid flannel shirt with long sleeves, in chequered style, with two chest pockets." src="https://s3-eu-west-1.amazonaws.com/bkt-svc-files-cmty-api-moltin-com/835673c6-b04e-4089-8090-7599e67c1a78/8faf0127-76da-49a9-9ebd-19a49d0e8135."></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col m5ths s6">
        <div class="card newprod">
            <div class="card-image">
                <div>
                    <a href="product/ade28793-65e8-4ac4-9c02-6b25c2e8e7b7"><img alt="Yellow Wool Jumper-Ultra-stylish black and red striped silk blouse with buckle collar and matching button pants." src="https://s3-eu-west-1.amazonaws.com/bkt-svc-files-cmty-api-moltin-com/835673c6-b04e-4089-8090-7599e67c1a78/c69f156f-16b6-437d-81a4-bebdb0fbb85b."></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col m5ths s6">
        <div class="card newprod">
            <div class="card-image">
                <div>
                    <a href="product/aaeaf72d-350c-4db1-9cac-ee01786f594a"><img alt="Item 4-Classic dark denim top with chest pockets, long sleeves with buttoned cuffs, and a ripped hem effect." src="https://s3-eu-west-1.amazonaws.com/bkt-svc-files-cmty-api-moltin-com/835673c6-b04e-4089-8090-7599e67c1a78/88350566-ec35-43b9-9017-2da81d521e85."></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col m5ths s6">
        <div class="card newprod">
            <div class="card-image">
                <div>
                    <a href="product/eb725e39-1e87-4313-a381-cc5b5f0605b5"><img alt="Item 2-Ultra-stylish black and red striped silk blouse with buckle collar and matching button pants." src="https://s3-eu-west-1.amazonaws.com/bkt-svc-files-cmty-api-moltin-com/835673c6-b04e-4089-8090-7599e67c1a78/aadd4554-97d9-4af8-b553-1a51837aea91."></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col m5ths s6">
        <div class="card newprod">
            <div class="card-image">
                <div>
                    <a href="product/7fcb0cec-24dd-4334-873d-292179c4114d"><img alt="Item 6-Thick black winter jacket, with soft fleece lining. Perfect for those cold weather days." src="https://s3-eu-west-1.amazonaws.com/bkt-svc-files-cmty-api-moltin-com/835673c6-b04e-4089-8090-7599e67c1a78/a8605057-4a96-48f9-8903-2e883d533dff."></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col m5ths s6">
        <div class="card newprod">
            <div class="card-image">
                <div>
                    <a href="product/b76bcade-0e09-4b76-9ada-362159f695b2"><img alt="Item 7-Hombre black leather bag, with ample space. Can be worn over the shoulder, or remove straps to carry in your hand." src="https://s3-eu-west-1.amazonaws.com/bkt-svc-files-cmty-api-moltin-com/835673c6-b04e-4089-8090-7599e67c1a78/5fac1f58-a59d-4253-a743-126666c8b252."></a>
                </div>
            </div>
        </div>
    </div>
</div>